@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Gothic+Expanded+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header-div{
    display: flex;
    flex-direction: column;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 40px;
    margin: 0px;

    background-color: #F2E95E;
}

h1{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    text-decoration: none;
}

.b1{
    color: black;
}
.b2{
    color: white;
    text-shadow: 1px 1px 2px gray;
}



nav{

    margin: 0;
    padding: 0;
    
}

ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    
}

li{


    padding-left: 11%;
    padding-right: 11%;
    padding-top: 1%;
    padding-bottom: 1%;

    border-top: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;

    list-style: none;
    font-weight: bolder;
    
    transition: background-color 0.5s, color 0.2s;
    cursor: pointer;
}

li:hover{
    background-color: #F2E95E;
    color: white;
    text-shadow: 1px 1px 2px gray;
}