*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main{
    height: 100vh;
    width: 100vw;
}

.first-section{
    display: flex;
    flex-direction: column;
    background-color: red;

}

.img-container{
    position: relative;
    isolation: isolate;
    height: 60vh;
}

.lastnews{
    width: 100%;
    height: 100%;

    object-fit: cover;
    isolation: isolate;

}

.lastnews-text{
    position: absolute;
    top: 70%;
    font-size: 300%;
    font-weight: bolder;
    color: white;   

    z-index: 2;

}

.black{
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}

.left-button{

    position: absolute;
    background-image: url(../../icon/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    transform: rotate(180deg);

    
    width: 50px;
    height: 50px;
    top: 40%;
    left: 0;
    z-index: 1;

    cursor: pointer;
}

.right-button{
       position: absolute;
    background-image: url(../../icon/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;

    width: 50px;
    height: 50px;
    top: 40%;
    right: 0;
    z-index: 1;

    cursor: pointer;
}

.second-section{
    display: flex;
    position: relative;
    height: 70%;
    isolation: isolate;
    justify-content: center;
    align-items: center;

    background-color: #F2E95E;

}

.sec-section-div{
    display: flex;
    border-radius: 700px;
    width: 80%;
    height: 50%;
    background-color: white;
    box-shadow: 10px 10px gray;
}

.img-course-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;


}

.img-course{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border-style: outset;
    border-width: 10px;
    border-color: yellow;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px;
    font-size: 25px;

}

.text-course{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

.text-course p{
    font-weight: bolder;
    text-shadow: 1px 1px 2px gray;
}


    
