*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main{
    height: 100vh;
    width: 100vw;
}

.first-section{
    display: flex;
    flex-direction: column;
    background-color: red;

}

.img-container{
    position: relative;
    isolation: isolate;
    height: 60vh;
    border-bottom: white solid 5px;
}

.lastnews{
    width: 100%;
    height: 100%;

    object-fit: cover;
    isolation: isolate;

}

.lastnews-text{
    position: absolute;
    top: 70%;
    font-size: 300%;
    font-weight: bolder;
    color: white;   

    z-index: 2;

}

.black{
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}

.left-button{

    position: absolute;
    background-image: url(../../icon/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    transform: rotate(180deg);

    
    width: 50px;
    height: 50px;
    top: 40%;
    left: 0;
    z-index: 1;

    cursor: pointer;
}

.right-button{
       position: absolute;
    background-image: url(../../icon/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;

    width: 50px;
    height: 50px;
    top: 40%;
    right: 0;
    z-index: 1;

    cursor: pointer;
}

.second-section{
    display: flex;
    position: relative;
    height: 70%;
    isolation: isolate;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(180deg,#F2E95E, #BDB54A)
    

}

.sec-section-div{
    display: flex;
    align-items: center;

    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 10px 10px gray;
}

.main-news-figure{
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 35%;
    height: 80%;

    background-color: #F2E95E;
}

.news-img{

    width: 100%;
    height: 100%;
}
    

.news-text{
    display: flex;
    flex-direction: column;

    width: 65%;
    height: 80%;
    padding: 2%;
}

.news-text h2{
    font-size: 45px;
}

.news-text p{
    font-size: 20px;
}

.news-text-div{
    height: 40%;
}

.news-figure-div{
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}

.news-figure{
    background-color: yellow;
    height: 70%;
    width: 20%;
    
}

