*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

section{
    display: flex;
    flex-direction: column;
    background-color: red;

}

.img-container{
    position: relative;
    isolation: isolate;
    height: 60vh;
}

.lastnews{
    width: 100%;
    height: 100%;

    object-fit: cover;
    isolation: isolate;

}

.lastnews-text{
    position: absolute;
    top: 70%;
    font-size: 300%;
    font-weight: bolder;
    color: white;   

    z-index: 2;

}

.black{
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}

.left-button{

    position: absolute;
    background-image: url(../../icon/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;
    transform: rotate(180deg);

    
    width: 50px;
    height: 50px;
    top: 40%;
    left: 0;
    z-index: 1;

    cursor: pointer;
}

.right-button{
       position: absolute;
    background-image: url(../../icon/next.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;

    width: 50px;
    height: 50px;
    top: 40%;
    right: 0;
    z-index: 1;

    cursor: pointer;
}
