
.body{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.login-div{
    justify-content: flex-start;
    width: 80%;
    height: 60%;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 1%;


    width: 100%;
    height: 100%;
}

.userLogin{
    width: 50%;
    height: 5%;
}

.button{
    width: 50%;
    height: 10%;
}

.side-image{
    width: 50vw;
}

.image-figure{
    width: 100%;
    height: 100%;
}

