
.body{
    display:flex;
    position: relative;
    height: 100vh;
    width: 100vw;

}

.title{
    display: flex;

}

.login-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
    width: 40vw;

    border-right: 1px solid black;
    
}

.login-div{
    justify-content: flex-start;
    width: 80%;
    height: 60%;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    width: 59%;
    height: 70%;
}

.inputs-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}


.button{
    border: 2px solid black;
    width: 50%;
    height: 100%;
}

.new-account{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: gray;
    text-decoration: underline;
}

.button-text{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.login-success{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.side-image{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60vw;



}

.image-figure{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.illustration{
    width: 100%;
    height: 100%;
}
