body{
    margin: 0px;
    display: flex;
    justify-content: center;
}

#main{
    display: flex; 
    flex-direction: column;
    width: 67vw;
    height: 100vh;

}

header{
    display: flex;
    height: 12vh;
    gap: 20%;
    flex-direction: row;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    
}

.logo{
    width: 60px;
}

ul{
    display: flex;
    padding: 0px;
    width: 60%;
    gap: 4%;
    list-style: none;

    align-items: center;

}

li{
    display: flex;
    align-items: center;
    justify-content: center;


}

.store{

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sections{
    font-family: Arial, Helvetica, sans-serif;
}

.section-1{
    display: flex;
}

.box-1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;

    font-weight: bolder;
    text-align: center;
    width: 50%;
    object-fit: fill;
    background-color: #324A32;
}

.box-1 .button-about{
    font-size: 14px;
    color: oklch(43.2% 0.095 166.913);
}

.box-1-fig{
    width: 50%;

}



.coffee{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-about{
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

