.header{
    background-color: blue;
    margin-top: -10px;
    padding: 10px;
    height: 50%;

}

.navegator{
    display: flex;
}

.option{
    background-color: white;
    margin: 5px;
    padding: 5px 50px;
}

.page{
    background-color: brown;
    padding: 1em;
}

.pdt{

    background-color: gray;
    padding: 1em;
}

img{
    height: 10%;
    width: 10%;
    padding: 1em;
}