body{
    margin: 0px;
    
}

.background{
    background-image: url("img/background.jpg");
    background-size: cover;

    filter:brightness(30%);
    width: 100vw;
    height: 100vh;
}

.text{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 10vh;
    position: absolute;
    top: 10%;
    right: 40%;
    background-color: red;
    width: 50vw;
}

.menu{
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.menu::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#welcome{
    display: flex;
    flex-wrap: wrap;
    background-color: oklch(43.2% 0.095 166.913);
    font-family: "Special Gothic Expanded One", sans-serif;
    height: 10%;
    color: white;
    font-size: 4vw;
    padding: 5px;
    z-index: 2;
}

.login{
    
    z-index: 2;
    filter:brightness(100%);
    top: 10px;
    background-color: oklch(43.2% 0.095 166.913);
    background-image: linear-gradient(oklch(43.2% 0.095 166.913), oklch(26.2% 0.051 172.552));
    width: 30vw;
    height: 100vh;
    box-shadow: 6px 6px oklch(26.2% 0.051 172.552);
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    border-width: 0px 0px 0px 5px;
    border-color: white;
    border-style: solid;
    align-items: center;


}

#logo{
    width: 70%;
    display: flex;
    justify-content: center;
    
}

img{
    width: 50%;
}

.form{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    gap: 10px;
    width: 50%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
}

#entrar{

}


#log{
    width: 65%;

}

#senha{
    width: 65%;

}